.wrapper--account {
  display: flex;

  .LeftSide {
    width: 19.375rem;
    min-height: 14.375rem;
    border: #4CAF50 1px solid;
    background: rgb(251, 251, 251);
    .account-menu {
      .account-menu-title {
        display: flex;
        align-items: center;
        margin: 17px 0 18px 18px;
        height: 2.5rem;

        color: rgb(61, 61, 61);
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        font-weight: 700;
      }

      .account-logout {
        display: flex;
        align-items: center;
        height: 2.5rem;
        padding: 0 0 0 18px;
        img {
          margin-right: 1rem;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 0 0 0 18px;
        height: 2.5rem;

        img {
          display: flex;
          align-items: center;
          width: 1.25rem;
          margin-right: 1rem;
          object-fit: contain;
        }
      }
    }
  }
  .RightSide {
    display: flex;
    flex-wrap: wrap;

  }
}