<div class="container">
    <div class="shoppingCart--main--block">
        <div class="shoppingCart--products--main--block">
            <div class="shoppingCart--products--title">
                <div>Products</div>
                <div>Price</div>
                <div>Quantity</div>
                <div>Total</div>
            </div>
            <div class="shoppingCart--products--item--main">
                <div *ngFor="let item of cartItems" class="shoppingCart--products--item">
                    <div class="shoppingCart--products--item--imgAndTitle">
                        <div class="shoppingCart--products--item--img">
                            <img [src]="item.img" alt="{{ item.name }}" width="50" height="50" />
                        </div>
                        <div class="shoppingCart--products--item--title">
                            <div class="shoppingCart--products--item--name">
                                {{ item.name }}
                            </div>
                            <div class="shoppingCart--products--item--sku">
                                SKU: 1995751877966
                            </div>
                        </div>
                    </div>
                    <div class="shoppingCart--products--item--price">
                        {{ item.price | currency }}
                    </div>
                    <div class="shoppingCart--products--item--quantity">
                        <button (click)="decrementQuantity(item.id)">-</button>
                        <span>{{ item.quantity }}</span>
                        <button (click)="incrementQuantity(item.id)">+</button>
                    </div>
                    <div class="shoppingCart--products--item--total">
                        {{ getItemTotal(item.id) | currency }}
                    </div>
                    <div class="shoppingCart--products--item--deleteItem">
                        <button class="remove-item" (click)="removeFromCart(item.id)">
                            <img src="assets/Icons/Delete.png" alt="" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shoppingCart--cartTotals--main--block">
            <div class="shoppingCart--cartTotals--main--title">
                Cart Totals
            </div>
            <div class="shoppingCart--cartTotals--main--coupon">
                <div class="shoppingCart--cartTotals--main--coupon--title">
                    Coupon Apply
                </div>
                <div class="shoppingCart--cartTotals--main--coupon--action">
                    <input type="text" [(ngModel)]="couponCode" placeholder="Enter coupon code here..." />
                    <button (click)="applyCoupon()">Apply</button>
                </div>
                <div class="shoppingCart--cartTotals--main--info-priceshop">
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Subtotal
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            ${{ cartTotal + discount  }}
                        </div>
                    </div>
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Coupon Discount
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            (-) ${{ discount }}
                        </div>
                    </div>
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Shiping
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            ${{ shipping }}
                        </div>
                    </div>
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Total
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            ${{ cartTotal + shipping }}
                        </div>
                    </div>
                </div>
                <div class="shoppingCart--cartTotals--main--checkout-action">
                    <button (click)="proceedToCheckout()">Proceed To Checkout</button>
                    <p [routerLink]="''">Continue Shopping</p>
                </div>
            </div>
        </div>
    </div>
</div>
