<div class="container">
    <div class="cart-item-main">
        <div class="cart--item">
            <div class="cart-item-img">
                <img src="./assets/Icons/image14.png" alt="">
            </div>
            <div class="cart-item-text-info">
                <div class="cart-item-TI-title">
                    Summer cactus
                    & succulents
                </div>
                <div class="cart-item-TI-subtitle">
                    We are an online plant shop offering a wide range of cheap and trendy plants
                </div>
                <div class="cart-item-TI-action">
                    <button>Find More </button>
                </div>
            </div>
        </div>
        <div class="cart--item">
            <div class="cart-item-img">
                <img src="./assets/IconsProduct/product3.png" alt="">
            </div>
            <div class="cart-item-text-info">
                <div class="cart-item-TI-title">
                    Summer cactus
                    & succulents
                </div>
                <div class="cart-item-TI-subtitle">
                    We are an online plant shop offering a wide range of cheap and trendy plants
                </div>
                <div class="cart-item-TI-action">
                    <button>Find More </button>
                </div>
            </div>
        </div>
    </div>
</div>