<!-- Модальне вікно -->
<div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeModal()">×</button>
        <app-user-order-list [orderData]="orderData"
                             (ratingSent)="handleRatingSent()"></app-user-order-list>
    </div>
</div>

<div class="container">
    <div class="checkout-container">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="form--main">
                <h2>Адреса для виставлення рахунку</h2>

                <div>
                    <label>Ім’я *</label>
                    <input type="text" formControlName="firstName">
                </div>

                <div>
                    <label>Прізвище *</label>
                    <input type="text" formControlName="lastName">
                </div>

                <div>
                    <label>Країна *</label>
                    <select formControlName="country">
                        <option value="">Оберіть країну</option>
                        <option value="USA">Україна</option>
                    </select>
                </div>

                <div>
                    <label>Місто / Селище *</label>
                    <input type="text" formControlName="city">
                </div>

                <div class="streetAdrees">
                    <div class="streetAdressLabel">
                        <label>Адреса вулиці *</label>
                    </div>
                    <div class="streetAdressInput">
                        <input type="text" formControlName="streetAddress" placeholder="Номер будинку та назва вулиці">
                        <input type="text" formControlName="apartment" placeholder="Квартира, офіс, під’їзд тощо (необов’язково)">
                    </div>
                </div>

                <div>
                    <label>Область *</label>
                    <select formControlName="state">
                        <option value="">Оберіть Область</option>
                        <option value="05">Вінницька</option>
                        <option value="07">Волинська</option>
                        <option value="12">Дніпропетровська</option>
                        <option value="14">Донецька</option>
                        <option value="18">Житомирська</option>
                        <option value="21">Закарпатська</option>
                        <option value="23">Запорізька</option>
                        <option value="26">Івано-Франківська</option>
                        <option value="32">Київська</option>
                        <option value="35">Кіровоградська</option>
                        <option value="44">Луганська</option>
                        <option value="46">Львівська</option>
                        <option value="48">Миколаївська</option>
                        <option value="51">Одеська</option>
                        <option value="53">Полтавська</option>
                        <option value="56">Рівненська</option>
                        <option value="59">Сумська</option>
                        <option value="61">Тернопільська</option>
                        <option value="63">Харківська</option>
                        <option value="65">Херсонська</option>
                        <option value="68">Хмельницька</option>
                        <option value="71">Черкаська</option>
                        <option value="73">Чернівецька</option>
                        <option value="74">Чернігівська</option>
                        <option value="80">Київ (місто)</option>
                        <option value="85">Севастополь (місто)</option>
                    </select>
                </div>

                <div>
                    <label>Електронна пошта *</label>
                    <input type="email" formControlName="email">
                </div>

                <div>
                    <label>Номер телефону *</label>
                    <input type="text" formControlName="phoneNumber">
                </div>

                <div>
                    <label>Примітки до замовлення (необов’язково)</label>
                    <textarea formControlName="orderNotes"></textarea>
                </div>
            </div>

            <div class="shoppingCart--cartTotals--main--block">
                <div class="shoppingCart--cartTotals--main--title">Ваше замовлення</div>
                <div class="shoppingCart--cartTotals--main--subtitles">
                    <div class="shoppingCart--cartTotals--main--subtitle">Товари</div>
                    <div class="shoppingCart--cartTotals--main--subtitle">Підсумок</div>
                </div>

                <div class="shoppingCart--cartTotals--main--coupon">
                    <div class="shoppingCart--cartTotals--main--info-priceshop">
                        <!-- Перевірка даних кошика -->
                        <div *ngIf="cartItems.length > 0; else noItems">
                            <div *ngFor="let item of cartItems; let last = last" class="shoppingCart--products--item" [ngClass]="{'last-item': last}">
                                <div class="shoppingCart--products--item--imgAndTitle">
                                    <div class="shoppingCart--products--item--img">
                                        <img [src]="item.img" alt="{{ item.name }}" width="70" height="70" />
                                    </div>
                                    <div class="shoppingCart--products--item--title">
                                        <div class="shoppingCart--products--item--name">{{ item.name }}</div>
                                        <div class="shoppingCart--products--item--sku">Артикул: 1995751877966</div>
                                    </div>
                                </div>
                                <div class="shoppingCart--products--item--quantity">(x {{ item.quantity }})</div>
                                <div class="shoppingCart--products--item--total">{{ item.price * item.quantity | currency }}</div>
                            </div>
                        </div>
                        <ng-template #noItems>
                            <div>Кошик порожній</div>
                        </ng-template>

                        <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">Підсумок</div>
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">{{ getSubtotal() | currency }}</div>
                        </div>

                        <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">Знижка за купоном</div>
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                                <span>Купон ({{ couponCode }}):</span>
                            </div>
                        </div>

                        <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">Доставка:</div>
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">{{ shipping | currency }}</div>
                        </div>

                        <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">Усього</div>
                            <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">{{ getTotal() | currency }}</div>
                        </div>

                        <div class="shoppingCart--cartTotals--main--info-payment--item">
                            <div class="shoppingCart--cartTotals--main--info-payment--item-title">Спосіб оплати</div>
                            <div class="shoppingCart--cartTotals--main--info-payment--item--title-price">
                                <div class="shoppingCart--cartTotals--main--info-payment--item--title-price--item">
                                    <input type="radio" formControlName="paymentMethod" value="card" name="paymentMethod">
                                    <label><img src="assets/Icons/payment.png" alt="Оплата карткою"></label>
                                </div>
                                <div class="shoppingCart--cartTotals--main--info-payment--item--title-price--item">
                                    <input type="radio" formControlName="paymentMethod" value="bank" name="paymentMethod">
                                    <label>Банківський переказ</label>
                                </div>
                                <div class="shoppingCart--cartTotals--main--info-payment--item--title-price--item">
                                    <input type="radio" formControlName="paymentMethod" value="cod" name="paymentMethod">
                                    <label>Оплата при отриманні</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shoppingCart--cartTotals--main--checkout-action">
                        <button (click)="onSubmit()">
                            Оформити замовлення
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
