.sidebar-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 135px;
}


//@media (max-width: 1156px) {
//  .sidebar-body {
//    flex-direction: column;
//    justify-content: space-between;
//  }
//}