<div class="container">
    <div class="cart-blog-item-main">
        <div class="CBIM-Info">
            <div class="CBIM-title">
                Наші пости в блозі
            </div>
            <div class="CBIM-subtitle">
                Ми — онлайн-магазин рослин, що пропонує широкий асортимент дешевих та модних рослин.
            </div>
        </div>
        <div class="CBIM-cart--main">
            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        12 вересня  I Читати за 6 хвилин
                    </div>
                    <div class="CBIM-C-item-title">
                        Догляд за кактусами та сукулентами
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Кактуси та сукуленти — це рослини, які легко доглядати, підходять для будь-якого дому
                    </div>
                    <div class="CBIM-C-item-action">
                        Читати більше
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog2.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        13 вересня  I Читати за 2 хвилини
                    </div>
                    <div class="CBIM-C-item-title">
                        Топ 10 сукулентів для вашого дому
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Найкраще в підвісних кошиках. Вимагають середнього до високого освітлення.
                    </div>
                    <div class="CBIM-C-item-action">
                        Читати більше
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog3.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        15 вересня  I Читати за 3 хвилини
                    </div>
                    <div class="CBIM-C-item-title">
                        Догляд за кактусами та сукулентами
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Кактуси та сукуленти прекрасно ростуть в контейнерах, і оскільки більшість з них...
                    </div>
                    <div class="CBIM-C-item-action">
                        Читати більше
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog4.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        15 вересня  I Читати за 2 хвилини
                    </div>
                    <div class="CBIM-C-item-title">
                        Кращі кімнатні рослини<br>
                        по кімнатах
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Переваги кімнатних рослин безмежні. Окрім...
                    </div>
                    <div class="CBIM-C-item-action">
                        Читати більше
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
