<div class="container">
    <div class="cart-blog-item-main">
        <div class="CBIM-Info">
            <div class="CBIM-title">
                Our Blog Posts
            </div>
            <div class="CBIM-subtitle">
                We are an online plant shop offering a wide range of cheap and trendy plants.
            </div>
        </div>
        <div class="CBIM-cart--main">
            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        September 12  I Read in 6 minutes
                    </div>
                    <div class="CBIM-C-item-title">
                        Cactus & Succulent<br>
                        Care Tips
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Cacti are succulents are easy care plants for any home or patio.
                    </div>
                    <div class="CBIM-C-item-action">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog2.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        September 13  I Read in 2 minutes
                    </div>
                    <div class="CBIM-C-item-title">
                        Top 10 Succulents for <br>
                        Your Home
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Best in hanging baskets. Prefers medium to high light.
                    </div>
                    <div class="CBIM-C-item-action">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog3.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        September 15  I Read in 3 minutes
                    </div>
                    <div class="CBIM-C-item-title">
                        Cacti & Succulent<br>
                        Care Tips
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        Cacti and succulents thrive in containers and because most are..
                    </div>
                    <div class="CBIM-C-item-action">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="CBIM-C-item">
                <div class="CBIM-C-item-img">
                    <img src="assets/Icons/ourblog4.png" alt="">
                </div>
                <div class="CBIM-C-I-main">
                    <div class="CBIM-C-item-date">
                        September 15  I Read in 2 minutes
                    </div>
                    <div class="CBIM-C-item-title">
                        Best Houseplants<br>
                        Room by Room
                    </div>
                    <div class="CBIM-C-item-subtitle">
                        The benefits of houseplants are endless. In addition to..
                    </div>
                    <div class="CBIM-C-item-action">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>