<div class="user-order-list--main--wrapper">
    <div class="user-order-list--MP">
        <div class="user-order-list--main">
            <div class="user-order-list--main--title">
                <div class="user-order-list--main--title--img">
                    <img src="./assets/Icons/thank-you.png" alt="">
                </div>
                <div class="user-order-list--main--title-subtitle">
                    Ваше замовлення отримано
                </div>
            </div>
            <div class="user--pd">
                <ngb-rating [(rate)]="rating" [readonly]="ratingSubmitted"></ngb-rating>

                <div class="user-order-list--main-processed-title">
                    Ваше замовлення зараз обробляється. Незабаром ви отримаєте електронний лист із підтвердженням замовлення з очікуваною датою доставки ваших товарів.
                </div>

                <div class="user-order-list--main--action">
                    <button
                            class="submit-rating-btn"
                            (click)="submitRating()"
                            [disabled]="rating < 1 || ratingSubmitted">
                        Надіслати рейтинг
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

