<div class="Banner" style="width: 100%">
    <div class="sidebar-body">
        <ngb-carousel class="container">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/Icons/shadow.jpg" alt="Випадковий другий слайд" />
                    <img src="assets/Icons/flower.png" alt="" class="image2" width="100" height="450">
                </div>
                <div class="carousel-title">
                    <h3>Ласкаво просимо в GreenShop</h3>
                    <h1>Давайте зробимо краще</h1><h1 class="green">Планету</h1>
                    <p>Ми — онлайн-магазин рослин, що пропонує широкий асортимент дешевих та модних рослин. Використовуйте наші рослини, щоб створити унікальні урбаністичні джунглі. Замовляйте ваші улюблені рослини!</p>
                    <button (click)="handleAlert()">КУПИТИ ЗАРАЗ</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/Icons/shadow.jpg" alt="Випадковий другий слайд" />
                    <img src="assets/Icons/flower.png" alt="" class="image2" width="100" height="450">
                </div>
                <div class="carousel-title">
                    <h3>Ласкаво просимо в GreenShop</h3>
                    <h1>Давайте зробимо краще</h1><h1 class="green">Планету</h1>
                    <p>Ми — онлайн-магазин рослин, що пропонує широкий асортимент дешевих та модних рослин. Використовуйте наші рослини, щоб створити унікальні урбаністичні джунглі. Замовляйте ваші улюблені рослини!</p>
                    <button (click)="handleAlert()">КУПИТИ ЗАРАЗ</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/Icons/shadow.jpg" alt="Випадковий другий слайд" />
                    <img src="assets/Icons/flower.png" alt="" class="image2" width="100" height="450">
                </div>
                <div class="carousel-title">
                    <h3>Ласкаво просимо в GreenShop</h3>
                    <h1>Давайте зробимо краще</h1><h1 class="green">Планету</h1>
                    <p>Ми — онлайн-магазин рослин, що пропонує широкий асортимент дешевих та модних рослин. Використовуйте наші рослини, щоб створити унікальні урбаністичні джунглі. Замовляйте ваші улюблені рослини!</p>
                    <button (click)="handleAlert()">КУПИТИ ЗАРАЗ</button>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
