<div class="Banner " style="width: 100%">
    <div class="sidebar-body ">
        <ngb-carousel class="container">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/Icons/shadow.jpg" alt="Random second slide" />
                    <img src="assets/Icons/flower.png" alt="" class="image2" width="100" height="450">
                </div>
                <div class="carousel-title">
                    <h3>Welcome to GreenShop</h3>
                    <h1>Let’s Make a Better</h1><h1 class="green">Planet</h1>
                    <p>We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!</p>
                    <button (click)="handleAlert()">SHOP NOW</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/Icons/shadow.jpg" alt="Random second slide"  />
                    <img src="assets/Icons/flower.png" alt="" class="image2" width="100" height="450">
                </div>
                <div class="carousel-title">
                    <h3>Welcome to GreenShop</h3>
                    <h1>Let’s Make a Better</h1><h1 class="green">Planet</h1>
                    <p>We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!</p>
                    <button (click)="handleAlert()">SHOP NOW</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/Icons/shadow.jpg" alt="Random second slide" />
                    <img src="assets/Icons/flower.png" alt="" class="image2" width="100" height="450">
                </div>
                <div class="carousel-title">
                    <h3>Welcome to GreenShop</h3>
                    <h1>Let’s Make a Better</h1><h1 class="green">Planet</h1>
                    <p>We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!</p>
                    <button (click)="handleAlert()">SHOP NOW</button>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>