<div class="container">
    <div class="shoppingCart--main--block">
        <div class="shoppingCart--products--main--block">
            <div class="shoppingCart--products--title">
                <div>Продукти</div>
                <div>Ціна</div>
                <div>Кількість</div>
                <div>Всього</div>
            </div>
            <div class="shoppingCart--products--item--main">
                <div *ngFor="let item of cartItems" class="shoppingCart--products--item">
                    <div class="shoppingCart--products--item--imgAndTitle">
                        <div class="shoppingCart--products--item--img">
                            <img [src]="item.img" alt="{{ item.name }}" width="50" height="50" />
                        </div>
                        <div class="shoppingCart--products--item--title">
                            <div class="shoppingCart--products--item--name">
                                {{ item.name }}
                            </div>
                            <div class="shoppingCart--products--item--sku">
                                SKU: 1995751877966
                            </div>
                        </div>
                    </div>
                    <div class="shoppingCart--products--item--price">
                        {{ item.price | currency }}
                    </div>
                    <div class="shoppingCart--products--item--quantity">
                        <button (click)="decrementQuantity(item.id)">-</button>
                        <span>{{ item.quantity }}</span>
                        <button (click)="incrementQuantity(item.id)">+</button>
                    </div>
                    <div class="shoppingCart--products--item--total">
                        {{ getItemTotal(item.id) | currency }}
                    </div>
                    <div class="shoppingCart--products--item--deleteItem">
                        <button class="remove-item" (click)="removeFromCart(item.id)">
                            <img src="assets/Icons/Delete.png" alt="" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shoppingCart--cartTotals--main--block">
            <div class="shoppingCart--cartTotals--main--title">
                Підсумки кошика
            </div>
            <div class="shoppingCart--cartTotals--main--coupon">
                <div class="shoppingCart--cartTotals--main--coupon--title">
                    Застосування купону
                </div>
                <div  class="shoppingCart--cartTotals--main--coupon--action">
                    <ng-container>
                        <input type="text" [(ngModel)]="couponCode" placeholder="Введіть код купону..." />
                        <button *ngIf="user$ | async as user; else notLoggedIn" (click)="applyCoupon()">Застосувати</button>
                    </ng-container>

                    <ng-template #notLoggedIn>
                        <div class="tooltip-container">
                            <button
                                    [disabled]="true"
                                    class="disabled"
                                    (click)="applyCoupon()">
                                Застосувати
                            </button>
                            <span class="tooltip-text">Увійдіть, щоб використати купон</span>
                        </div>
                    </ng-template>
                </div>
                <div class="shoppingCart--cartTotals--main--info-priceshop">
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Проміжний підсумок
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            ₴{{ cartTotal + discount  }}
                        </div>
                    </div>
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Знижка по купону
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            (-) ₴{{ discount }}
                        </div>
                    </div>
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Доставка
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            ₴{{ shipping }}
                        </div>
                    </div>
                    <div class="shoppingCart--cartTotals--main--info-priceshop--item">
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item-title">
                            Всього
                        </div>
                        <div class="shoppingCart--cartTotals--main--info-priceshop--item--title-price">
                            ₴{{ cartTotal + shipping }}
                        </div>
                    </div>
                </div>
                <div class="shoppingCart--cartTotals--main--checkout-action">
                    <button (click)="proceedToCheckout()">Перейти до оформлення</button>
                    <p [routerLink]="''">Продовжити покупки</p>
                </div>
            </div>
        </div>
    </div>
</div>
